.main-frame{
  display: flex;
  flex-direction: column;
}

.searchbar{
  border: 1px black solid;
  width: auto;
  height: 5vh;
}
.userInfo{
  border: 1px black solid;
  width: auto;
  height: 10vh;
}
.tweets{
  border: 1px black solid;
  width: auto;
  height: 73vh;
}