
.main-frame{
  display: flex;
  flex-direction: column;
  background-image:url(/images/sky.png);
  background-color: rgba(255,255,255,0.5);
}



/* .searchbar{
  border: 1px black solid;
  width: auto;
  height: 5vh;
}
.userInfo{
  border: 1px black solid;
  width: auto;
  height: 10vh;
}
.tweets{
  border: 1px black solid;
  width: auto;
  height: 73vh;
} */

